ul,li{
    list-style: none;
}
.box{
    background: #cdcdcd;
}
section{
    width: 620px;
    margin: 0 auto;
}
li{
    height: 32px;
    line-height: 32px;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    padding: 0 45px;
    border-radius: 3px;
    border-left: 5px solid #629A9C;
}
li input{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
li button{
    position: absolute;
    right: 5px;
    top: 5px;

}